
@{
  @model SecureLogin.Models.User

    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";

    WebImage photo = null;
    var newFileName = "";
    var imagePath = "";
    var imageThumbPath = "";

    if (IsPost)
    {
       
    }
}

    


<div>
   <h2>Profile</h2>
</div>


<div>
    <h4>User</h4>
    <hr />

    <dl class="dl-horizontal">
        
        <dt> <br />
            @Html.DisplayNameFor(model => model.username) 
        </dt>
       
        <dd> <br />
            @Html.DisplayFor(model => model.username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.avatar)
        </dt>

        <dd>
               
                <form action="" method="post" enctype="multipart/form-data">
                    <fieldset>
                        
                        <div class="form-group">
                            <p class="control-label col-md-2">Image Upload:</p>
                            <input type="file" id="file" name="file" />
                           
                            <label for="Image">Image</label>
                            <input type="submit" value="Submit" />
                        </div>
                        <br />
                       
                    </fieldset>
                </form>
@if (imagePath != "")
        {
            <div class="result">
                <img src="@imageThumbPath" alt="Thumbnail image" />
                
                <a href="@Html.AttributeEncode(imagePath)" target="_Self">
                    View full size
                </a>
            </div>
        }
            
        </dd>
        

    </dl>
</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { uname = Model.username }) |
    @Html.ActionLink("Back to List", "Index")
</p>

