@model SecureLogin.Models.UserPassChange
@{


    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";

    
} 
<form action="" method="post" enctype="multipart/form-data">
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div >
        <a href="@Html.AttributeEncode(Model.avPath)" target="_Self">
            <img src="@Html.AttributeEncode(Model.thumbPath)" alt=" Thumbnail image  " style="float: left" />
            </a>
            <h2>Profile</h2>
</div>


    <div>
        
        <hr />

        <dl class="dl-horizontal">

            <dt>
                <br />
                @Html.DisplayNameFor(model => model.username)
            </dt>

            <dd>
                <br />
                @Html.DisplayFor(model => model.username)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.email)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.email)
            </dd>

            <dd>
                @Html.LabelFor(model => model.Image)
            </dd>
            <dd>    
            <div>
                    
                  
                    @Html.TextBoxFor(model => model.Image, new { accept ="image/*", type = "file" })
                    @ViewBag.error
                    @Html.ValidationMessage("ImageUpload")
                    <br />
                    <input type="submit" value="Submit" />
                </div>

                @if (Model.thumbPath != "")
                {
                    <div class="result">
                      
                    </div>
                }

            </dd>

        </dl>
    </div>


    </Form>
    <p>
        @Html.ActionLink("Edit", "Edit", new { uname = Model.username }) |
        @Html.ActionLink("Back to List", "Index")
    </p>

